<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-header border-bottom">
          <h4>{{ title }}</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="formadd" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group mb-3">
                <label class="mb-2">Libellé </label>
                <input type="text" formControlName="lib_mode_rglt" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f['lib_mode_rglt'].errors }" />
                <div *ngIf="submitted && f['lib_mode_rglt'].errors" class="invalid-feedback">
                    <div *ngIf="f['lib_mode_rglt'].errors">ce champ est obligatoire</div>
                </div>
               </div>
            </div>

            <button
              [disabled]="loading"
              type="submit"
              class="btn btn-success me-3"
            >
              {{ btnText }}
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="btnCancel()"
            >
              Annuler
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
