<section>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="row card-header border-bottom">
          <div class="col-md-8">
            <h4>{{ title }}</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="form-check mr-sm-2">
                <input type="checkbox" (change)="sortiePlusieurs($event)" class="form-check-input"
                  id="customControlAutosizing1" />
                <label class="form-check-label mb-2 cond" for="customControlAutosizing1">Ajouter plusieurs conditions de
                  ventes à l'article
                  <b> {{ marchandiseName }}</b></label>
              </div>

            </div>
          </div>
          <hr />

          <form [formGroup]="formadd" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group mb-3" data-select2-id="11">
                  <label class="mb-2">Article/Produit/Marchandise</label>
                  <select [compareWith]="compareData" formControlName="marchandise" id="marchandise"
                    class="select2 form-select shadow-none select2-hidden-accessible form-control"
                    style="width: 100%; height: 36px" data-select2-id="1" tabindex="-1" aria-hidden="true"
                    [(ngModel)]="selectedItemValueX" (change)="getSelectedItemValuXe($event)">
                    <option *ngFor="let listItem of marchandise" [ngValue]="listItem">
                      {{ listItem.designation_march }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['uniteVente'].errors" class="invalid-feedback">
                    <div *ngIf="f['uniteVente'].errors">
                      L'option est requise
                    </div>
                    <span *ngIIf="!conditionOk" class="error alert alert-danger">
                    </span>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label class="mb-2">Quel est le prix d'achat?</label>
                  <input type="number" formControlName="prixAchat" class="form-control" [ngClass]="{
                      'is-invalid': submitted && f['prixAchat'].errors
                    }" />
                  <div *ngIf="submitted && f['prixAchat'].errors" class="invalid-feedback">
                    <div *ngIf="f['prixAchat'].errors">
                      Le prix d'achat est requis
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <label class="mb-2 Selectionnez">Selectionnez : {{ designationArt }}</label>

                <div *ngIf="goodValue" class="selectedValue">
                  <span *ngIf="goodValue" class="selectedValue">{{ texte}}</span>
                </div>


              </div>
            </div>
            <div class="row bgDiv">
              <div class="col-md-3">
                <div class="form-group mb-3" data-select2-id="11">
                  <label class="mb-2">Unité de vente</label>
                  <select [compareWith]="compareData" formControlName="uniteVente" id="uniteVente"
                    class="select2 form-select shadow-none select2-hidden-accessible form-control"
                    style="width: 100%; height: 36px" data-select2-id="1" tabindex="-1" aria-hidden="true"
                    [(ngModel)]="selectedItem" (change)="getSelectedItemValue($event)">
                    <option *ngFor="let listItem of uniteMesures" [ngValue]="listItem">
                      {{ listItem.unite }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['uniteVente'].errors" class="invalid-feedback">
                    <div *ngIf="f['uniteVente'].errors">
                      L'option est requise
                    </div>
                    <span *ngIIf="!conditionOk" class="error alert alert-danger">
                      unite de vente incorrecte
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group mb-3" *ngIf="package">
                  <label class="mb-2">Nombre de pièces?</label>
                  <input type="number" formControlName="nbrePiece" [(ngModel)]="packDeN" class="form-control" [ngClass]="{
                      'is-invalid': submitted && f['nbrePiece'].errors
                    }" />
                  <div *ngIf="submitted && f['nbrePiece'].errors" class="invalid-feedback">
                    <div *ngIf="f['nbrePiece'].errors">
                      Le nombre de pièces est requis
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group mb-3" *ngIf="visible">
                  <label class="mb-2">Article</label>
                  <input type="number" formControlName="marchandise" class="form-control" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group mb-3">
                  <label class="mb-2">Quel est le prix de vente?</label>
                  <input type="number" formControlName="prixVente" class="form-control" [ngClass]="{
                      'is-invalid': submitted && f['prixVente'].errors
                    }" />
                  <div *ngIf="submitted && f['prixVente'].errors" class="invalid-feedback">
                    <div *ngIf="f['prixVente'].errors">
                      Le prix de vente est requis
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />

            <button *ngIf="goodValueOfArticle" type="submit" class="btn btn-success me-3">
              {{ btnText }}
            </button>

            <button type="button" class="btn btn-outline-danger me-3" (click)="btnCancel()">
              Annuler
            </button>
            <button type="button" class="btn btn btn-primary me-3" (click)="GoToArticleList()">
              Articles
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
