<div class="container text-center">
  <a routerLink="/register" class="btn btn-success">
    <i class="fas fa-user-plus"></i><b>Ajouter utilisateur </b>
  </a>
</div>
<section>
  <div class="card shadow my-2">
    <div class="card-header">
      <div class="row flex-between-center">
        <div class="col-md-4 d-flex align-items-center pe-0">
          <h5 class="mb-0 text-nowrap py-2 py-xl-0">{{ titre }}</h5>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="">
              <input type="search" class="form-control checlBoxDam" placeholder="Rechercher" [(ngModel)]="searchText" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check mr-sm-2">
              <input type="checkbox" (change)="afficherTouteLesDonnees($event)" class="form-check-input mt-2"
                id="customControlAutosizing1" />
              <label class="form-check-label mb-0 m-1" for="customControlAutosizing1">{{ afficherTout }}</label>
            </div>
          </div>
        </div>

        <div class="col-md-8 ms-auto text-end ps-0">
          <h6>Total : {{ totalrow }}</h6>
        </div>
      </div>
    </div>
    <div class="card-body p-0 m-3">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="arrierePlan">
            <th>IDENTIFIANT</th>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>EMAIL</th>
            <th style="display: none">Etat</th>
            <th>ACTIONS</th>
          </thead>
          <tbody class="tbody">

            <tr *ngFor="
                let userList of utilisateur
                  | customFilter : searchText
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: p,
                        totalItems: totalrow
                      }
              " [style.background]="userList.supprime == true ? 'red' : 'white'"
              [style.color]="userList.supprime == true ? 'white' : 'black'">

              <td>{{ userList.username }}</td>
              <td>{{ userList.nom }}</td>
              <td>{{ userList.prenoms }}</td>
              <td>{{ userList.email }}</td>
              <td style="display: none">{{ userList.supprime }}</td>



              <td class="white-space-nowrap">
                <a routerLink="/utilisateur/edit/{{ userList.id }}" class="modifier" placement="bottom" title="Editer "
                  *ngIf="userList.supprime == false">
                  <i class="me-2 mdi mdi-grease-pencil"></i>
                </a>


                <a (click)="delete(userList)" class="supprimer" placement="bottom" title="Supprimer"
                  *ngIf="userList.supprime == false">
                  <i class="me-2 mdi mdi-delete"></i>
                </a>
                <a (click)="restore(userList)" class="supprimer" placement="bottom" title="Restaurer"
                  *ngIf="userList.supprime == true">
                  <i class="me-2 mdi mdi-redo-variant"></i>
                </a>

                <a routerLink="/detailUtilisateur/{{ userList.id }}" class="detail" title="Détail"
                  *ngIf="userList.supprime == false">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
              </td>
              >
            </tr>
            <tr *ngIf="totalrow === 0">
              <td class="dimension" colspan="5">
                <div class="loader"></div>
              </td>
            </tr>
            <tr *ngIf="this.checkLoading">
              <td colspan="5">
                <div class="alert">{{ message }}</div>
              </td>


          </tbody>
        </table>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>

</section>