<div class="row el-element-overlay">
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/listUtilisateur"
            src="../assets/images/adjovivi/user-setting1.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0">
            <a routerLink="/listUtilisateur">Utilisateurs</a>
          </h4>
          <span class="text-muted">gestion des utilisateur</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->

  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setFournisseur"
            src="../assets/images/adjovivi/factory.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/listFournisseur">Fournisseurs</a></h4>
          <span class="text-muted">gestion des furnisseurs</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->

  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setOrigine"
            src="../assets/images/adjovivi/marker.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/setOrigine">Localisation</a></h4>
          <span class="text-muted">pays-ville</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setMyEntreprise"
            src="../assets/images/adjovivi/company.png"
            alt="Utilisateur"
            class="border"
          />
        </div>

        <div class="el-card-content">
          <h4 class="mb-0">
            <a routerLink="/listSociete">Mon entreprise</a>
          </h4>
          <span class="text-muted">information générale</span>
        </div>

      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setClient"
            src="../assets/images/adjovivi/customers.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/listClient">Clients</a></h4>
          <span class="text-muted">gestion des clients</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setArticle"
            src="../assets/images/adjovivi/article.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/listClient">Article</a></h4>
          <span class="text-muted">gestion des articles</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setApprovisionnement"
            src="../assets/images/adjovivi/drop.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0">
            <a routerLink="/listArticle">Entrée</a>
          </h4>
          <span class="text-muted">gestion des achats</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setVente"
            src="../assets/images/adjovivi/saleshop.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/listeSortie">Sortie</a></h4>
          <span class="text-muted">gestion des ventes</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setMouvement"
            src="../assets/images/adjovivi/mouvement.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/setMouvement">Inventaire</a></h4>
          <span class="text-muted">gestion des entrées et sorties</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setFacturation"
            src="../assets/images/adjovivi/invoice.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/setFacturation">Facturation</a></h4>
          <span class="text-muted">gestion des factures</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setImpression"
            src="../assets/images/adjovivi/print.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/setImpression">Impression</a></h4>
          <span class="text-muted">gestion des rapports</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
  <!-- debut -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img
            routerLink="/setStatistique"
            src="../assets/images/adjovivi/statistic.png"
            alt="Utilisateur"
            class="border"
          />
        </div>
        <div class="el-card-content">
          <h4 class="mb-0"><a routerLink="/setStatistique">Statistique</a></h4>
          <span class="text-muted">gestion des Statistique</span>
        </div>
      </div>
    </div>
  </div>
  <!--fin -->
</div>
<!--custom -->
