<section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h4>
              <h2>{{ deatil }}</h2>
            </h4>

            <label class="client" *ngIf="totaClient"><h3>Client servi</h3></label>
            <div *ngFor="let dataList of clients" class="raisonSocialeClient">
              <h3> Client : {{ dataList.raisonSocialeClient}} </h3>
            </div>
          </div>


        </div>
        <button type="button" class="btn btn-primary" (click)="list()">
          Retour
        </button>
      </div>
    </div>
  </section>

